:root {
  --ifm-color-primary: #145f63;
  --ifm-color-primary-dark: #125558;
  --ifm-color-primary-darker: #114f53;
  --ifm-color-primary-darkest: #0e4144;
  --ifm-color-primary-light: #177176;
  --ifm-color-primary-lighter: #18777c;
  --ifm-color-primary-lightest: #1c8e95;
  --ifm-code-font-size: 92%;
}

.navbar__title {
  letter-spacing: 0.01em;
}

.theme-doc-markdown h1,
.theme-doc-markdown h2,
.theme-doc-markdown h3 {
  letter-spacing: -0.01em;
}
