:root {
  --ifm-color-primary: #145f63;
  --ifm-color-primary-dark: #125558;
  --ifm-color-primary-darker: #114f53;
  --ifm-color-primary-darkest: #0e4144;
  --ifm-color-primary-light: #177176;
  --ifm-color-primary-lighter: #18777c;
  --ifm-color-primary-lightest: #1c8e95;
  --ifm-code-font-size: 92%;
}

.navbar__title {
  letter-spacing: 0.01em;
}

.theme-doc-markdown h1,
.theme-doc-markdown h2,
.theme-doc-markdown h3 {
  letter-spacing: -0.01em;
}

.language-smartpad .token.variable {
  color: #25dbc7;
  font-weight: 700;
}

.language-smartpad .token.result {
  color: #ffd166;
  font-weight: 700;
}

.language-smartpad .token.operator {
  color: #ffe082;
}

.language-smartpad .token.keyword {
  color: #ffb36b;
  font-weight: 600;
}

.language-smartpad .token.currency {
  color: #90f2b1;
}

.language-smartpad .token.number {
  color: #c7a6ff;
}

.language-smartpad .token.unit {
  color: #7db6ff;
}

.language-smartpad .token.warning {
  color: #ff8b8b;
  font-weight: 700;
}
